<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="TaskManagerApplication" value="C:\Users\stefa\Desktop\github\TaskManagerApplication\bin\Debug\TaskManagerApplication.exe" />
		<add key="App2" value="2" />
		<add key="App3" value="3" />
	</appSettings>
</configuration>